<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>
    <meta name="description" content="Request Header Parser Microservice for Free Coding Camp">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        File Metadata Microservice
      </h1>
    </header>

    <main>
      <form enctype="multipart/form-data" method="post">
        <input type="file" name="upload">
        <input type="submit" value="Send">
      </form>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

  </body>
</html>
